# Environment Variables

# wms
PORT=
DATABASE_URL=
ODOO_BASE_URL=
ODOO_OUTBOUND_UPDATE_PATH=
ODOO_API_KEY=
JWT_SECRET=
JWT_EXPIRES_IN=
CORS_ORIGIN

# Odoo Web API Configuration
ODOO_DB_HOST=
ODOO_DB_PORT=
ODOO_DB_NAME=
ODOO_DB_USER=
ODOO_DB_PASSWORD=
